<section>
  <div class="page-header">
    <h1>{{vm.tower._id ? 'Editar Torre' : 'Nueva torre'}}</h1>
  </div>
  <div class="pull-right">
    <a ng-show="vm.tower._id" class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <div class="col-md-12">
    <form name="vm.form.towerForm" class="form-horizontal" ng-submit="vm.save(vm.form.towerForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group">
            <label class="control-label" for="name">Grupo:</label>
            <select ng-model="vm.group" data-ng-options="items as items.name for items in vm.groups" ng-change="vm.getUnregisteredServices()">
               <option ng-selected="true">Selecciona un grupo</option>
            </select>
        </div>      
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Nombre</label>
          <input name="name" type="text" ng-model="vm.tower.name" id="name" class="form-control" placeholder="Nombre" required autofocus>
          <div ng-messages="vm.form.towerForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">El nombre de la torre es requerido.</p>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="description">Description</label>
          <textarea name="description" data-ng-model="vm.tower.description" id="description" class="form-control" cols="30" rows="10" placeholder="Descripción de torre"></textarea>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Cantidad máxima de departamentos</label>
          <input name="departments_max_qty" type="text" ng-model="vm.tower.departments_max_qty" id="departments_max_qty" class="form-control" placeholder="Cantidad máxima de departamentos" required autofocus>
          <div ng-messages="vm.form.towerForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">El nombre de la torre es requerido.</p>
          </div>
        </div>        
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="deactivate" ng-model="vm.tower.active">
            <label class="form-check-label" for="deactivate">Torre Activa</label>
        </div> 

        <div class="col-md-12" ng-show="vm.supplyCreator.length >0">
          <h2>Servicios de torre</h2>
          <table class="table table-responsive">
            <thead>
              <th>Servicio</th>
              <th>Identificador de suministro</th>
            </thead>
            <tbody>
              <tr ng-repeat="item in vm.supplyCreator">
                <td>{{ item.serviceName }}</td>
                <td><input type="text" ng-model="item.supplyCode" class="form-control"></td>
              </tr>
            </tbody>
          </table>           
        </div>
        <div class="col md 6">
          <button type="submit" class="btn btn-success btn-lg">{{vm.tower._id ? 'Actualizar' : 'Crear'}}</button>
        </div>
      </fieldset>
      <a href="#" data-toggle="modal" data-target="#Suministros" ng-click="vm.createBillHeader(item.name, item.month)">Ver Suministros agregados</a>
    </form>
  </div>
</section>

<div id="Suministros" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Suministros registrados</h4>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <table class="table table-bordered text-center">
            <thead>
              <th>Servicio</th>
              <th>N° Suministro</th>
              <th>Descripción</th>
              <th>Activo?</th>
            </thead>
            <tbody>
              <tr ng-repeat="item in vm.registered">
                <td>{{ item.serviceName }}</td>
                <td>{{ item.supplyCode }}</td>
                <td>{{ item.supplyDescription }}</td>
                <td>
                  <toggle ng-model="item.active" onstyle="btn-success" offstyle="btn-danger" on="Si" off="No"></toggle>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>

  </div>
</div>
