<section>
  <div class="page-header">
    <h1>
      Torres
      <a class="btn btn-primary pull-right" data-ui-sref="admin.towers.create">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </h1>
  </div>
<div class="row">
<a data-ng-repeat="tower in vm.towers" data-ui-sref="admin.towers.edit({towerId: tower._id})">
   <div class="col-sm-6 col-md-2" >
    <div class="thumbnail">
      <img src="https://cdn0.iconfinder.com/data/icons/financial-business/512/company_building-512.png">
      <div class="caption">
        <h3>{{ tower.name }}</h3>
        <p><b>Grupo:</b> {{ tower.groupAssigned.name }}</p>
        <p><b>Departamentos: </b>{{ tower.departments_max_qty }}</p>
      </div>
    </div>
  </div> 
</a>

</div>
  <div class="alert alert-warning text-center" data-ng-if="towers.$resolved && !towers.length">
    No towers yet, why don't you <a data-ui-sref="admin.towers.create">create one</a>?
  </div>
</section>
