<style>
  .boleta tbody tr td {
    padding: 10px;
  }
</style>

<section>
  <div class="jumbotron text-center">
    <h3>SISTEMA DE CONTROL DE CONDOMINIOS</h3>
  </div>

  <div class="alert alert-danger" role="alert" ng-show="!vm.contract" style="color: #af4342">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    No tienes ningun departamento asignado, por favor comunícate con gerencia.
  </div>

  <div class="col-md-3" ng-show="vm.userData && vm.contract && vm.authentication.user.roles[0] === 'user'" ng-repeat="item in vm.months">
    <div class="panel panel-success"> 
 	    <div class="panel-heading"> 
 		   <h2 class="panel-title">{{ item.name }} Status: ({{ item.status }})</h2>
      </div> 
 		<div class="panel-body">
 		 <a href="#" data-toggle="modal" data-target="#Boleta" ng-click="vm.createBillHeader(item.name, item.month)">Ver detalle - S/. {{ item.total }}</a>
 		</div>
    </div>
  </div>
</section> 	

<div id="Boleta" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Boleta mes de {{ vm.monthSelected }}</h4>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <table class="table table-bordered text-center boleta">
            <thead>
              <th>Detalle</th>
              <th>N° Suministro</th>
              <th>Recibo</th>
              <th>Cant. Dep afectados</th>
              <th>Total</th>
            </thead>
            <tbody>
              <tr ng-repeat="item in vm.items">
                <td>{{ item.serviceName }}</td>
                <td>{{ item.supplyCode }}</td>
                <td>{{ item.amount }}</td>
                <td>{{ item.qtyDivision }}</td>
                <td>{{ item.totalAmount }}</td>
              </tr>
            </tbody>
          </table>
          Consumo de Agua
          <table class="table table-bordered text-center boleta" style="padding:0px">
            <thead>
              <th>Detalle</th>
              <th>Lectura Anterior</th>
              <th>Lectura Actual</th>
              <th>Recibo</th>
              <th>Cant. Dep afectados</th>
              <th>Total</th>
            </thead>
            <tbody>
              <tr ng-repeat="item in vm.individuals">
                <td>{{ item.serviceName }}</td>
                <td></td>
                <td>{{ item.consumed }}</td>
                <td>{{ item.amount }}</td>
                <td>{{ item.qtyDivision }}</td>
                <td>{{ item.totalAmount }}</td>
              </tr>
            </tbody>
          </table>
          <div class="col-md-12">
            <div class="col-md-3 col-md-offset-9">
              <b>TOTAL: S/. {{ vm.total }}</b> 
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>

  </div>
</div>

