<style type="text/css">

  @font-face {
      font-family: Californian;
      src: url(./fonts/Californian_FB.ttf);
  }
  
  body {
    font-family: Californian;
  }

  .individualpayment>tbody>tr>td, .individualpayment>tbody>tr>th, .individualpayment>tfoot>tr>td, .individualpayment>tfoot>tr>th, .individualpayment>thead>tr>td, .individualpayment>thead>tr>th {
    padding: 3px !important;
  }

  .individualpayment > thead > tr > th, .individualpayment > tbody > tr > th, .individualpayment > tfoot > tr > th, .individualpayment > thead > tr > td, .individualpayment > tbody > tr > td, .individualpayment > tfoot > tr > td {
      border-color: #656C78;
      padding: 16px 20px;
      background: none;
      color: #656C78;
      font-size: 13px;
  }

  .detail-pay {
      color: #fff !important;
      background: #403b62 !important;
      padding: 5px 15px !important; 
  }
  .items thead th{
    background: #2e6da4 !important;
    color: #fff !important;
  }

  @media screen {
    #printSection {
        display: none;
    }
  }

  @media print {
    body * {
      visibility:hidden;
    }

  
    #printSection, #printSection * {
      zoom: 100%;
      visibility:visible;
      font-family: Californian;
      font-size: 20px;
    }

    #printSection {
    width: 100%;
    margin: 0 auto;
    }

    #printSection {
      position:absolute;
      left:0;
      top:0;
    }
    #print {
      display: none;
    }

    #close {
      display: none;
    }
  }
</style>

<section>
  <div class="jumbotron text-center">
    <h3>SISTEMA DE CONTROL DE CONDOMINIOS</h3>
  </div>

    <div class="row" ng-show="vm.authentication.user.roles == 'user'">
        <div class="form-group col-md-2 col-sm-12">
            <label for="">Selecciona el año:</label>
            <select name="" id="" class="form-control" ng-model="vm.yearSelected" ng-options="obj.text as obj.value for obj in vm.years" ng-change="vm.getTotals()">
                
            </select>
        </div>        
    </div>
    <br/>


  <div class="alert alert-danger" role="alert" ng-show="!vm.contract" style="color: #af4342">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    No tienes ningun departamento asignado, por favor comunícate con gerencia.
  </div>

  <div class="col-md-3" ng-show="vm.userData && vm.contract && vm.authentication.user.roles[0] === 'user'" ng-repeat="item in vm.months">
    <div class="panel panel-success"> 
      <div class="panel-heading"> 
       <h2 class="panel-title">{{ item.name }} Status: ({{ item.status }})</h2>
      </div> 
    <div class="panel-body">
     <a href="#" data-toggle="modal" data-target="#Boleta" ng-click="vm.createBillHeader(item.name, item.month)">Ver detalle - S/. {{ item.total }}</a>
    </div>
    </div>
  </div>
</section>  

<div id="Boleta" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="classInfo" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          ×
        </button>
        <h4 class="modal-title" id="classModalLabel">
              RECIBO MENSUAL - DEPARTAMENTO {{ vm.information.department.code }}
        </h4>
      </div>
      <div class="modal-body" id="printable">
        <div class="row">
          <div class="col-xs-12 visible-xs text-center">
            <div class="col-xs-6">
              <img src="./images/innovecrt.png" alt="100px">
            </div>
            <div class="col-xs-6">
              <img src="./images/ciudadnueva.png" alt="" width="100px;">
            </div>
          </div>
          <div class="col-sm-3 hidden-xs">
            <img src="./images/innovecrt.png" alt="">
          </div>
          <div class="col-sm-6">
        <table class="table table-responsive boleta individualpayment">
          <tr>
            <th colspan="2">PROPIETARIO:</th>
            <td colspan="2">{{ vm.authentication.user.displayName }}</td>
          </tr>
          <tr>
            <th>CUOTA MES:</th>
            <td>{{ vm.monthSelected | monthName }}</td> 
            <th>DEUDA TOTAL:</th>
            <td>S/. {{ vm.total }}</td>           
          </tr>
          <tr>
            <th colspan="2">CUENTA ABONAR:</th>
            <td colspan="2">{{ vm.condominiumDetails.account_number }}</td>
          </tr>
          <tr>
            <th colspan="2">WEBSITE:</th>
            <td colspan="2">{{ vm.condominiumDetails.website }}</td>
          </tr>          
        </table>          
          </div>
          <div class="col-sm-3 hidden-xs">
            <img src="./images/ciudadnueva.png" alt="">
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-sm-10 col-md-offset-1">
            <table class="table table-responsive boleta individualpayment">
          <tr>
            <th>LECTURA PREVIA:</th>
            <td>{{ vm.individuals.consumed - (vm.individuals.amount / vm.avgWaterSupply) }}</td>
            <th>VALOR M3:</th>
            <td>{{  vm.avgWaterSupply }}</td>
            <th>AGUA MES:</th>
          </tr>
          <tr>
            <th>LECTURA ACTUAL:</th>
            <td>{{ vm.individuals.consumed }}</td>
            <th>CONSUMO:</th>
            <td>{{ vm.individuals.amount / vm.avgWaterSupply }}</td>
            <th>S/. {{ vm.individuals.amount }}</th>         
          </tr>
         <tr ng-show="vm.aditionals.discount.length > 0 || vm.aditionals.penalization.length > 0">
            <th>DESCUENTOS:</th>
            <td>S/. {{ vm.aditionals.totalDiscount }}</td>
            <th>MULTAS:</th>
            <td>S/. {{ vm.aditionals.totalPenalization }}</td>
            <th>TOTAL: S/. {{ (vm.aditionals.totalDiscount - vm.aditionals.totalPenalization) | absolute }}</th>
          </tr>                     
        </table>
          </div>
        <div class="row">
          <div class="col-sm-10 col-md-offset-1">
        <div class="panel panel-default">
          <div class="panel-heading detail-pay text-center">
          Importes globales del Condominio {{ vm.information.condominium.name }} Afectan a {{ vm.globalServices[0].qtyDivision }} Departamentos
          </div>
          <div class="panel-body">
            <div class="row" style="margin-left: 0px; margin-right: 0px;">
              <table class="table table-bordered items individualpayment">
                <div class="text-center"><b>Servicios</b></div>
                <thead>
                  <th>Codigo/Suministro</th>
                  <th>Descripción</th>
                  <th>Total</th>
                </thead>
                <tbody>
                  <tr ng-repeat="item in vm.globalServices">
                    <td>{{ item.supplyCode }}</td>
                    <td>{{ item.serviceName }}</td>
                    <td>S/. {{ item.totalAmount | number:2 }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="row" style="margin-left: 0px; margin-right: 0px;" ng-show="vm.personalServices.length > 0">
              <table class="table table-bordered items individualpayment">
                <div class="text-center"><b>Personal</b></div>
                <thead>
                  <th>Cantidad</th>
                  <th>Sueldo Unitario</th>
                  <th>Descripción</th>
                  <th>Total</th>
                </thead>
                <tbody>
                  <tr ng-repeat="item in vm.personalServices">
                    <td>{{ item.consumed }}</td>
                    <td>S/. {{ item.amount / item.consumed | number:2 }}</td>
                    <td>{{ item.supplyCode }}</td>
                    <td>S/. {{ item.totalAmount | number:2 }}</td>
                  </tr>
                </tbody>
              </table>
            </div>            
          </div>
        </div>
          </div>
        </div>
        <div class="row" ng-show="vm.groupServices.length > 0">
          <div class="col-sm-10 col-md-offset-1">
        <div class="panel panel-default">
          <div class="panel-heading detail-pay text-center">
            Importe grupal  Grupo  {{ vm.information.group.name }}- Afectan a {{ vm.groupServices[0].qtyDivision }} Departamentos
          </div>
          <div class="panel-body">
            <div class="row" style="margin-left: 0px; margin-right: 0px;">
              <table class="table table-bordered items individualpayment">
                <div class="text-center"><b>Servicios</b></div>
                <thead>
                  <th>Codigo/Suministro</th>
                  <th>Descripción</th>
                  <th>Total</th>
                </thead>
                <tbody>
                  <tr ng-repeat="item in vm.groupServices">
                    <td>{{ item.supplyCode }}</td>
                    <td>{{ item.serviceName }}</td>
                    <td>S/. {{ item.totalAmount | number:2 }}</td>
                  </tr>
                </tbody>
              </table>
            </div>            
          </div>
        </div>
          </div>
        </div>
        <div class="row" ng-show="vm.towerServices.length > 0">
          <div class="col-sm-10 col-md-offset-1">
        <div class="panel panel-default">
          <div class="panel-heading detail-pay text-center">Importe de torre para la Torre  {{ vm.information.tower.name }} - Afectan {{ vm.towerServices[0].qtyDivision }} Departamentos</div>
          <div class="panel-body">
            <div class="row" style="margin-left: 0px; margin-right: 0px;">
              <table class="table table-bordered items individualpayment">
                <div class="text-center"><b>Servicios</b></div>
                <thead>
                  <th>Codigo/Suministro</th>
                  <th>Descripción</th>
                  <th>Total</th>
                </thead>
                <tbody>
                  <tr ng-repeat="item in vm.towerServices">
                    <td>{{ item.supplyCode }}</td>
                    <td>{{ item.serviceName }}</td>
                    <td>S/. {{ item.totalAmount }}</td>
                  </tr>
                </tbody>
              </table>
            </div>            
          </div>
        </div>
          </div>
        </div>                
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="vm.print()" id="print">
          Imprimir
        </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="close">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>

