<section>
  <div class="page-header">
    <h1>Registrar consumos</h1>
  </div>
  <div class="form-group" ng-hide="vm.authentication.user.roles != 'superadmin'">
      <label class="control-label" for="name">Condominio</label>
      <select ng-model="vm.condominium">
          <option value="{{ item._id }}" data-ng-repeat="item in vm.condominiums">{{ item.name }}</option>
      </select>
  </div>
  <div class="form-group">
    <label class="control-label" for="name">Indica el mes: </label>
      <select ng-model="vm.month" ng-change="vm.initialize()">
          <option value="{{ item.value }}" data-ng-repeat="item in vm.months">{{ item.name }}</option>
      </select>
  </div>
  <br/>
  <br/>
  <div ng-show="vm.month">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item active">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#group" role="tab" aria-controls="home" aria-selected="true" ng-click="vm.typeConsumption(2, 'Grupo')">Grupo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#tower" role="tab" aria-controls="profile" aria-selected="false" ng-click="vm.typeConsumption(3, 'Torre')">Torre</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#condominium" role="tab" aria-controls="contact" aria-selected="false" ng-click="vm.typeConsumption(1, 'Global')">Condominio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#department" role="tab" aria-controls="contact" aria-selected="false" ng-click="vm.typeConsumption(4, 'Departamento')">Departamento</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <table class="table table-responsive table-striped">
          <thead>
            <th>Servicio</th>
            <th>{{ vm.type }}</th>
            <th>Código de suministro</th>
            <th ng-show="vm.individual">Lectura anterior</th>
            <th ng-show="vm.individual">Lectura actual</th>
            <th ng-show="vm.individual">Precio Promedio</th>
            <th>Monto</th>
          </thead>
          <tbody>
            <tr ng-repeat="item in vm.consumptions">
              <td>{{ item.serviceName }}</td>
              <td>{{ item.supplyDescription }}</td>
              <td>{{ item.supplyCode }}</td>
              <td ng-show="vm.individual">
                <span ng-show="!item.emptyLastConsume">{{ item.lastConsume }}</span>
                <input type="text" class="form-control" name="" ng-model="item.lastConsume" ng-show="item.emptyLastConsume">
              </td>
              <td ng-show="vm.individual"><input type="text" ng-model="item.consumed" class="form-control"></td>
              <td ng-show="vm.individual">{{ item.avgWaterSupply }}</td>
              <td><input ng-show="!vm.individual" ="text" ng-model="item.total" class="form-control">
                <span ng-show="vm.individual">{{ (item.consumed - item.lastConsume) * item.avgWaterSupply  }}</span>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
    <button class="btn btn-success" ng-click="vm.registerServices();">Registrar</button>
  </div>
</section>
