<section>
  <div class="page-header">
    <h1>
      Consumo de servicio
      <a class="btn btn-primary pull-right" data-ui-sref="admin.service_consumptions.create">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </h1>
  </div>
  <table class="table table-responsive">
    <thead>
      <th>Año</th>
      <th>Mes</th>
      <th>Código</th>
      <th>Suministro</th>
      <th>Tipo de servicio</th>
      <th>Usuario</th>
      <th>Monto registrado</th>
      <th>Acciones</th>
    </thead>
    <tbody>
      <tr ng-repeat="item in vm.service_consumptions">
        <td>{{ item.year }}</td>
        <td>{{ item.month | monthName }}</td>
        <td>{{ item.supplyCode }}</td>
        <td>{{ item.serviceName }}</td>
        <td>{{ item.type | serviceType }}</td>
        <td>{{ item.user.displayName }}</td>
        <td>{{ item.total }}</td>
        <td>
          <a href="#" ng-click="vm.deleteConsumption(item._id)">
            <i class="glyphicon glyphicon-trash"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="alert alert-warning text-center" data-ng-if="service_consumptions.$resolved && !service_consumptions.length">
    No service_consumptions yet, why don't you <a data-ui-sref="admin.service_consumptions.create">create one</a>?
  </div>
</section>
