<section>
  <div class="page-header">
    <h1 ng-bind="vm.condominium.name"></h1>
    <h2>Dirección: {{ vm.condominium.address }}</h2>
  </div>
  <small>
    <em class="text-muted">
      Creado:
      <span ng-bind="vm.condominium.created | date:'mediumDate'"></span>
      por
      <span ng-if="vm.condominium.user" ng-bind="vm.condominium.user.displayName"></span>
      <span ng-if="!vm.condominium.user">Usuario Eliminado</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.condominium.content"></p>
</section>
