<section>
  <div class="page-header">
    <h1>
      Global_services
      <a class="btn btn-primary pull-right" data-ui-sref="admin.global_services.create">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="global_service in vm.global_services" data-ui-sref="admin.global_services.edit({global_serviceId: global_service._id})" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="global_service.created | date:'mediumDate'"></span>
        by
        <span ng-if="global_service.user" ng-bind="global_service.user.displayName"></span>
        <span ng-if="!global_service.user">Usuario Eliminado</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="global_service.title"></h4>
      <p class="list-group-item-text" data-ng-bind="global_service.content"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="global_services.$resolved && !global_services.length">
    No global_services yet, why don't you <a data-ui-sref="admin.global_services.create">create one</a>?
  </div>
</section>
