<section>
  <div class="page-header">
    <h1>{{vm.service._id ? 'Editar Servicio' : 'Nuevo Servicio'}}</h1>
  </div>
  <div class="pull-right">
    <a ng-show="vm.service._id" class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <div class="col-md-12">
    <form name="vm.form.serviceForm" class="form-horizontal" ng-submit="vm.save(vm.form.serviceForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" ng-hide="vm.authentication.user.roles != 'superadmin'">
            <label class="control-label" for="name">Condominio</label>
            <select ng-model="vm.service.condominium">
                <option value="{{ item._id }}" data-ng-repeat="item in vm.condominiums">{{ item.name }}</option>
            </select>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Nombre de servicio</label>
          <input name="name" type="text" ng-model="vm.service.name" id="name" class="form-control" placeholder="Nombre de servicio" required autofocus>
          <div ng-messages="vm.form.serviceForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Este campo es requerido.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="type">Tipo de servicio</label>
          <select class="form-control" ng-model="vm.service.type" name="type">
            <option value=1>Global</option>
            <option value=2>Grupal</option>
            <option value=3>Torre</option>
            <option value=4>Individual</option>
            <option value=5>Personal de condominio</option>
          </select>
          <div ng-messages="vm.form.serviceForm.type.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Este campo es obligatorio.</p>
          </div>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="deactivate" ng-model="vm.service.active">
            <label class="form-check-label" for="deactivate">Servicio Activo</label>
        </div>  
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.service._id ? 'Actualizar' : 'Crear'}}</button>
        </div>
      </fieldset>
    </form>
  </div>
</section>
